<div class="center">
  
  <h1>Xtronger: The App</h1>
  <h2>Prepare to craft yourself...</h2>
  
</div>

<div class="center">
  <%= image_tag("mural_sketch1.jpg", alt: "Craft Yourself!", id: 'landing-billboard')%>
</div>